<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload CSV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Upload CSV File (10 Genes Only)</h2>
        <form action="{{ url_for('predict_upload') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Predict</button>
        </form>
    </div>
</body>
</html>
